@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.about {
  padding-bottom: 6rem;

  &__image-wrapper {
    width: 100%;
    margin-bottom: 3rem;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      max-height: 500px;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    // Сітка вмикається тут
    @media (min-width: map-get($grid-breakpoints, md)) {
      display: grid;
      grid-template-columns: repeat(12, 1fr); 
      gap: 20px;
      align-items: start; // Щоб текст не розтягувався по висоті, якщо заголовок менший
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-text-main;
    margin-bottom: 1rem;
    line-height: 1.1;

    // Заголовок займає 4 колонки (третина)
    @media (min-width: map-get($grid-breakpoints, md)) {
      grid-column: span 4; 
      font-size: 3rem;
      margin-bottom: 0;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    // Текст починається з 6-ї колонки і йде до кінця (-1)
    // Це створює "дірку" в одну колонку (5-ту) між заголовком і текстом
    @media (min-width: map-get($grid-breakpoints, md)) {
      grid-column: 6 / -1; 
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      color: $color-text-main;
    }
  }
}