@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  padding: 1rem 2rem;
  font-family: $font-main;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  
  background-color: $color-black;
  color: $color-white;
  border: 1px solid transparent;
  border-radius: 8px;
  
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: lighten($color: $color-black, $amount: 10%);
    text-decoration: none;
    transform: translateY(-2px);
  }

  &:active {
    background-color: $color-black;
    transform: translateY(0);
  }

  &:disabled {
    background-color: $color-text-muted;
    cursor: not-allowed;
    transform: none;
  }
}