@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.categories {
  padding: 4rem 0;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    color: $color-text-main;
    line-height: 1.2;
    max-width: 15ch;
    
    @media (min-width: map-get($grid-breakpoints, md)) {
      font-size: 3rem;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: map-get($grid-breakpoints, md)) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  &__footer {
    margin-top: 3rem;
  }
}

.category-item {
  display: flex;
  flex-direction: column;

  @media (min-width: map-get($grid-breakpoints, md)) {
    &--wide {
      grid-column: span 2;
    }
    
    &--normal {
      grid-column: span 1;
    }
  }

  &__image-wrapper {
    background-color: $color-gray-light;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    
    aspect-ratio: 1 / 1; 

    @media (min-width: map-get($grid-breakpoints, md)) {
       .category-item--wide & {
          aspect-ratio: 2 / 1;
       }
    }

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      transition: transform 0.5s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-text-main;
  }
}

.button--dark {
  background-color: $color-text-main;
  color: $color-white;
  width: 100%;
  
  &:hover {
    background-color: lighten($color-text-main, 10%);
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    width: auto;
    padding: 1rem 3rem;
  }
}