@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  background-color: $color-gray-light;
  &__bg {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom center;
  }

  &__container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;
    padding-top: 80px;
    pointer-events: none;
  }

  &__content {
    pointer-events: auto;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    color: $color-text-main; 
    letter-spacing: -0.02em;
    margin: 0;
    @media (min-width: map-get($grid-breakpoints, md)) {
      font-size: 5rem;
      max-width: 90%;
    }

    @media (min-width: map-get($grid-breakpoints, xl)) {
      font-size: 7.5rem;
      max-width: 80%;
    }
  }
}