@use '../utils/variables' as *;

.input-wrapper {
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 1rem 1.2rem;
  
  font-family: $font-main;
  font-size: 1rem;
  color: $color-text-main;
  
  background-color: $color-gray-light; 
  border: 1px solid transparent; 
  border-radius: 8px;
  outline: none;
  
  transition: all 0.3s ease;

  &::placeholder {
    color: $color-text-muted;
  }

  &:hover {
    background-color: darken($color-gray-light, 3%);
  }

  &:focus {
    background-color: $color-white;
    border-color: $color-black;
    box-shadow: 0 0 0 4px rgba($color-black, 0.05);
}}