$color-black: #2D2D2D;
$color-gray-light: #F8F8F8;  
$color-white: #FFFFFF;
$color-text-muted: #999999;  

$color-text-main: $color-black;
$color-bg-secondary: $color-gray-light;
$font-main: 'Space Mono', monospace;

$grid-breakpoints: (
        xs: 0,
        sm: 544px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px
);

$grid-columns: 12;
$grid-fluid: false;
$grid-gutter-widths: (
        down sm: 40px,
        up md: 30px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$border-radius: 5px;

:root {
  --font-main: #{$font-main};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-primary-light};
  --text-color: #{$text-color};
}
