main.main
    .content-outer
        .content-inner
            block top
                include content-top
            block middle
                include content-middle
                include categories
                include about
            block bottom
                include contact 