include mixins/ui

section.contact
    .container
        h2.contact__title Contact us
        
        .contact__wrapper
            form.contact__form(action="#" method="POST")
                +inputField('name', 'Name', 'text')
                +inputField('email', 'Email', 'email')
                +inputField('message', 'Message', 'textarea')
                
                +btn('Send', false, 'submit', 'contact__submit')

            .contact__info
                .contact__block
                    span.contact__label Phone
                    p.contact__value= contact.phone
                
                .contact__block
                    span.contact__label Email
                    p.contact__value= contact.email
                
                .contact__block
                    span.contact__label Address
                    each line in contact.address
                        p.contact__value= line