@use '../utils/variables' as *;

*, html, body {
  font-family: $font-main;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}